.boxthreed{
			margin: 40px;
			//height: 300px;
			width: 600px;
			background: skyblue;
			//border: 3px solid yellow;
			border-radius: 7px;
		    display: inline-block;
			//box-shadow: -10px -10px 10px #888888;
			box-shadow: 0 0 10px 10px #888888 inset;

		}
		.input{
			margin-right: 50px;
			width: 300px;
			background: transparent;
			border: 0px solid white;
			border-bottom: 1px solid blue;
			float: right;
		}
		.formparameter{
			margin: 20px;
			//margin-top: 40px;
			//height: 50px;
			width: 600px;
			//background: white;
			display: inline-block;

		}
		.param{
			//margin-right:10px;
			margin-bottom:20px;
			display: block;
		}
